.App {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#author {
  position: absolute;
  bottom: 1rem;
}

button {
  background: none;
  font-family: 'Nunito', sans-serif;
  border: 1px solid black;
  height: 2.5rem;
}

button:hover {
  background: pink;
}

button:focus {
  outline: none;
}

.shopname {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 10rem;
  border: 2px solid black;
  width: -webkit-max-content;
  width: -moz-max-content;

}

.show {
  animation-name: fade-in;
  animation-duration: 1s;
}


h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  letter-spacing: 0.75rem;
  margin: 0.75rem;
}

p {
  font-family: 'Nunito', sans-serif;
  animation-name: fade-in;
  animation-duration: 1s;
}


@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#item {
  text-transform: lowercase;

}

#CabinSketch {
  font-family: 'Cabin Sketch', cursive;
}

#PlayfairDisplay {
  font-family: 'Playfair Display', serif;
}

#Nunito{
  font-family: 'Nunito', sans-serif;
}

#Sacramento {
  font-family: 'Sacramento', cursive;
  font-size: 8rem;
  letter-spacing: 0
}